<header class="header" data-header>
  <div class="container">
    <h1>
      <a href="#" class="logo">SrongVest</a>
    </h1>
    <button
      class="menu-toggle-btn icon-box"
      data-menu-toggle-btn
      aria-label="Toggle Menu"
    >
      <span class="material-symbols-rounded icon">menu</span>
    </button>

    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li>
            <a href="/users/dashboard" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">home</span>

              <span>Home</span>
            </a>
          </li>
          <li>
            <a href="/users/fund" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">add_card</span>

              <span>Fund</span>
            </a>
          </li>
          <li>
            <a href="/users/withdraw" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">account_balance</span>

              <span>Withdraw</span>
            </a>
          </li>
          <li>
            <a href="/users/referral" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">group</span>

              <span>Referral</span>
            </a>
          </li>
          <li>
            <a href="/users/profile" class="navbar-link active icon-box">
              <span class="material-symbols-rounded icon">person</span>

              <span>Profile</span>
            </a>
          </li>

          <li>
            <a href="/users/setting" class="navbar-link icon-box">
              <span class="material-symbols-rounded icon">settings</span>

              <span>Settings</span>
            </a>
          </li>

        </ul>

        <ul class="user-action-list">

          <li>
            <a href="#" class="header-profile">
              <div>
                <p class="profile-title">Alexander</p>
              </div>
            </a>
          </li>
          <li>
            <a href="/users/logout" class="header-profile">
              <div>
                <p class="profile-title">logout</p>
              </div>
            </a>
          </li>

        </ul>

      </div>
    </nav>

  </div>
</header>

<main>
  <article class="container article">

    <p class="article-subtitle">Profile</p>

    <!-- 
        - #HOME
      -->

    <section class="home prof-grid" style="width: 100%;">

      <div class="card profile-card" style="width: 100%;">
        <div class="profile-card-wrapper">
          <form
            class="fund-form"
            action="/users/profile"
            method="POST"
            style="width: 100%;"
          >
            <div class="form-control" style="width: 100%;">
              <input
                type="text"
                placeholder="Enter Phone Number"
                name="phoneNumber"
              />
            </div>
            <div class="form-control" style="width: 100%;">
              <input
                type="text"
                placeholder="Enter Your Wallet Address e.g. Dogecoin, BNB"
                name="walletId"
              />
            </div>
            <div class="form-control" style="width: 100%;">
              <input
                type="text"
                placeholder="Enter Your Country"
                name="country"
              />
            </div>
            <div class="form-control" style="width: 100%;">
              <select
                name="plan"
                id="plan"
                style="width: 100%; padding: 10px; outline:none;"
              >
                <option value="" name="">Select Plan</option>
                <option value="Gold" name="Gold">Gold</option>
                <option value="promo" name="Promo">Promo</option>
                <option value="Silver" name="Silver">Silver</option>
                <option value="Bronze" name="Promo">Broze</option>
              </select>
            </div>
            <button class="user-button">Submit</button>
          </form>

        </div>
      </div>

      <div class="card profile-card" style="width: 100%;">
        <p class="card-title">User Details</p>
        <div class="profile-card-wrapper">
          {{#if phoneNumber}}
            <ul>
              <li class="progress-item" style="width: 100%; margin-top:10px;">
                <div class="progress-label">
                  <p class="progress-title breaker2">Name:</p>
                  <data class="progress-data breaker">
                    {{firstName}}
                    {{lastName}}
                  </data>
                </div>
              </li>
              <li class="progress-item" style="width: 100%; margin-top:10px;">
                <div class="progress-label">
                  <p class="progress-title">Phone Number:</p>
                  <data class="progress-data breaker">{{phoneNumber}}</data>
                </div>
              </li>
              <li class="progress-item" style="width: 100%; margin-top:10px;">
                <div class="progress-label start">
                  <p class="progress-title">Wallet ID:</p>
                  <data
                    class="progress-data breaker"
                    style="word-wrap:break-all;"
                  >{{walletId}}</data>
                </div>
              </li>
              <li class="progress-item" style="width: 100%; margin-top:10px;">
                <div class="progress-label">
                  <p class="progress-title">Country:</p>
                  <data class="progress-data breaker"> {{country}} </data>
                </div>
              </li>
              <li class="progress-item" style="width: 100%; margin-top:10px;">
                <div class="progress-label">
                  <p class="progress-title">Active Plan:</p>
                  <data class="progress-data breaker"> {{activePlan}} </data>
                </div>
              </li>
            </ul>
          {{else}}
            <ul style="width: 100%;">
              <li class="progress-item" style="width: 100%; margin-top:10px;">
                <div class="progress-label">
                  <p class="progress-title breaker2">Name:</p>
                  <data class="progress-data breaker">
                    {{firstName}}
                    {{lastName}}
                  </data>
                </div>
              </li>
              <li class="progress-item" style="width: 100%; margin-top:10px;">
                <div class="progress-label">
                  <p class="progress-title">Phone Number:</p>
                  <data class="progress-data breaker">Unset</data>
                </div>
              </li>
              <li class="progress-item" style="width: 100%; margin-top:10px;">
                <div class="progress-label start">
                  <p class="progress-title">Wallet ID:</p>
                  <data
                    class="progress-data breaker"
                    style="word-wrap:break-all;"
                  >Unset</data>
                </div>
              </li>
              <li class="progress-item" style="width: 100%; margin-top:10px;">
                <div class="progress-label">
                  <p class="progress-title">Country:</p>
                  <data class="progress-data breaker">Unset</data>
                </div>
              </li>
              <li class="progress-item" style="width: 100%; margin-top:10px;">
                <div class="progress-label">
                  <p class="progress-title">Active Plan:</p>
                  <data class="progress-data breaker">Unset</data>
                </div>
              </li>
            </ul>
          {{/if}}
        </div>
      </div>
    </section>
  </article>
</main>